---
title: 首页
layout: default
---
{% include JB/setup %}

{% for post in paginator.posts %}
<div class="gridcol-1">
    <h1 class="pattern">
        <span>
            <a title="{{ post.url }}" href="{{ post.url }}">{{post.title}}</a>
        </span>
    </h1>

    <article class="rich-content">
        {{ post.excerpt }}
    </article>

    <span class="fl">
        <span class="date">{{ post.date | date_to_long_string }}</span><span class="tags">
            {% assign tags_list = post.tags %}
            {% if site.JB.tags_list.provider == "custom" %}
            {% include custom/tags_list %}
            {% else %}
            {% if tags_list.first[0] == null %}
            {% for tag in tags_list %}
            <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>
            {% endfor %}
            {% else %}
            {% for tag in tags_list %}
            <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% assign tags_list = nil %}
        </span>
    </span>

    <span class="fr">
        <a title="{{ post.url }}" href="{{ post.url }}">阅读全文</a>
    </span>

    <div class="cl"></div>
</div>
{% endfor %}
